<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="299900000" android:versionName="2019-09" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" coreApp="true" package="android.ext.services" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-permission android:name="android.permission.PROVIDE_RESOLVER_RANKER_SERVICE"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.MONITOR_DEFAULT_SMS_PACKAGE"/>
    <uses-permission android:name="android.permission.REQUEST_NOTIFICATION_ASSISTANT_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29"/>
    <application android:label="@string/app_name" android:extractNativeLibs="true" android:defaultToDeviceProtectedStorage="true" android:directBootAware="true" android:usesNonSdkApi="true">
        <service android:name="android.ext.services.storage.CacheQuotaServiceImpl" android:permission="android.permission.BIND_CACHE_QUOTA_SERVICE">
            <intent-filter>
                <action android:name="android.app.usage.CacheQuotaService"/>
            </intent-filter>
        </service>
        <service android:name="android.ext.services.resolver.LRResolverRankerService" android:permission="android.permission.BIND_RESOLVER_RANKER_SERVICE">
            <intent-filter android:priority="-1">
                <action android:name="android.service.resolver.ResolverRankerService"/>
            </intent-filter>
        </service>
        <service android:label="@string/notification_assistant" android:name="android.ext.services.notification.Assistant" android:permission="android.permission.BIND_NOTIFICATION_ASSISTANT_SERVICE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationAssistantService"/>
            </intent-filter>
        </service>
        <service android:name="android.ext.services.autofill.AutofillFieldClassificationServiceImpl" android:permission="android.permission.BIND_AUTOFILL_FIELD_CLASSIFICATION_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillFieldClassificationService"/>
            </intent-filter>
            <meta-data android:name="android.autofill.field_classification.default_algorithm" android:resource="@string/autofill_field_classification_default_algorithm"/>
            <meta-data android:name="android.autofill.field_classification.available_algorithms" android:resource="@array/autofill_field_classification_available_algorithms"/>
        </service>
        <service android:name="android.ext.services.sms.FinancialSmsServiceImpl" android:permission="android.permission.BIND_FINANCIAL_SMS_SERVICE">
            <intent-filter>
                <action android:name="android.service.sms.action.FINANCIAL_SERVICE_INTENT"/>
            </intent-filter>
        </service>
        <service android:name="android.ext.services.watchdog.ExplicitHealthCheckServiceImpl" android:permission="android.permission.BIND_EXPLICIT_HEALTH_CHECK_SERVICE">
            <intent-filter>
                <action android:name="android.service.watchdog.ExplicitHealthCheckService"/>
            </intent-filter>
        </service>
        <activity android:theme="@android:style/Theme.NoDisplay" android:name="android.ext.services.notification.CopyCodeActivity" android:exported="false"/>
        <library android:name="android.ext.services"/>
    </application>
</manifest>
